[user]
	name = Steven Anderson
	email = steven_anderson@waters.com
[alias]
	s = status
	d = diff --ignore-space-change -M
	t = "log --all --color --graph --abbrev-commit --pretty=format:'%C(auto)%h -%C(auto)%d %s %C(green)(%ci) %C(cyan)%an'"
	ff = merge --ff-only
[core]
	whitespace = cr-at-eol
	autocrlf = false
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = 'C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe' -merge -result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[rebase]
	autosquash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	tool = vimdiff
