[submodule ".vim/bundle/t-comment"]
	path = dotfiles/.vim/bundle/t-comment
	url = https://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/coffee"]
	path = dotfiles/.vim/bundle/coffee
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/yankring"]
	path = dotfiles/.vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/nyancat"]
	path = dotfiles/.vim/bundle/nyancat
	url = https://github.com/koron/nyancat-vim.git
[submodule ".vim/bundle/rails.vim"]
	path = dotfiles/.vim/bundle/rails.vim
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/ack"]
	path = dotfiles/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/textile"]
	path = dotfiles/.vim/bundle/textile
	url = https://github.com/timcharper/textile.vim.git
[submodule ".vim/bundle/indent-guides"]
	path = dotfiles/.vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/ctrlp"]
	path = dotfiles/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/surround"]
	path = dotfiles/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/scss"]
	path = dotfiles/.vim/bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule ".vim/bundle/cucumber"]
	path = dotfiles/.vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/pathogen"]
	path = dotfiles/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/syntastic"]
	path = dotfiles/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar"]
	path = dotfiles/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-fsharp"]
	path = dotfiles/.vim/bundle/vim-fsharp
	url = https://github.com/fsharp/vim-fsharp.git
[submodule ".vim/bundle/vim-elixir"]
	path = dotfiles/.vim/bundle/vim-elixir
	url = git@github.com:elixir-editors/vim-elixir.git
[submodule ".vim/bundle/vim-mix-format"]
	path = dotfiles/.vim/bundle/vim-mix-format
	url = git@github.com:mhinz/vim-mix-format.git
