[submodule ".vim/bundle/t-comment"]
	path = .vim/bundle/t-comment
	url = https://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/yankring"]
	path = .vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/nyancat"]
	path = .vim/bundle/nyancat
	url = https://github.com/koron/nyancat-vim.git
[submodule ".vim/bundle/rails.vim"]
	path = .vim/bundle/rails.vim
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/textile"]
	path = .vim/bundle/textile
	url = https://github.com/timcharper/textile.vim.git
